<!DOCTYPE html>
<html>
<body id="sign-up">
  <div class="sign-up">

    <br/><br/><br/><br/><h2>Sign Up</h2><br/><br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html=>{:class=>"sign-up-form"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %><br/><br/>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %><br/><br/>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br/><br/>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br/>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %><br/>
      </div>
      <br/>

      <div class="actions">
        <%= f.submit "Sign Up", class: "button" %>
      </div>
    <% end %>
    <br/><br/>
    </div>
    </body>

</html>
